* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

.App {
  text-align: center;
  background-color: #F9D199;
  color: #1966a6;
}

body {
  background-color: #F9D199;
}

ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #f6e3d4;
}

li {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
}

/* Change the link color to #111 (black) on hover */
li:hover {
  background-color: #BBDBF7;
}
